<div>
  <button (click)="chiamaCommenti()"> Get Comments </button> 
  <button (click)="rimuoviCommenti()"> Remove comments </button>
  <div  >
  <div id="ciao" *ngFor="let p of comments; let i = index" @entrata>
   <div id="ciao2" *ngIf="ok"  @entrata>
      <h2> {{p.postId}}. {{p.id}} </h2>
      <p>

        {{p.body}}

      </p>
    </div>
    </div>
  </div>
</div>