#ciao {
    position: relative;
    left: 30%;
    overflow: hidden;
    width: 500px;
    background-color: coral;
    margin-bottom: 15px;
}
#ciao2
{ overflow: hidden;}

p {
    padding: 5px;
    background-color: rgba(255,255,255,0.3);
}

h2 {
    text-align: center;
    margin-bottom: 0px;
}

button{
    position:fixed;
}
button:nth-of-type(2){
   left:120px;
}